<section class="about-container">
  <div class="about-div">
    <img src="images/trees2.jpeg">
    <a ui-sref='index'> <i class="fa fa-angle-left" style="font-size:60px"></i></a>
    <h1 id="about-header"> About Me</h1>
    <p id="about-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula metus eu sem elementum,
      vitae placerat metus dapibus.
    </br>
  </br>
    Integer vehicula metus eu sem elementum,
      vitae placerat metus dapibus.
    </p>
    <div id="about-header" style="height: 200px; margin-bottom: 20px;">
    <div class="web1" id="grayscale" style="background: url(images/thumb_IMG_3209_1024.jpg); background-size: cover; background-size: 100% 100%; height:200px; width: 45%; margin-right: 5px; display: inline-block;"></div>
  <div id="grayscale" style="background:url(images/thumb_IMG_0378_1024.jpg); background-size: cover; background-size: 100% 100%; height:200px; width: 45%; margin-right: 5px; display: inline-block;"></div>
</div>
    <div class="about-div2">
  </div>
  </div>
</section>
