<section class="contact-container">
    <div class="contact-div">
      <img src="images/mtn4.jpeg">
      <a ui-sref='index'> <i class="fa fa-angle-left" style="font-size:60px"></i> </a>
      <h1 id="about-header"> Reach Me</h1>
      <p id="about-p">brandon.rider@gmail.com </br>
      </br>
        801 636 4556
      </br>
      <p id="about-p">Twitter  -  Linked In  -  Facebook  -  GitHub</p>
    </br>
    </br>
    </br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula metus eu sem elementum,
        vitae placerat metus dapibus.
      </p>
      <div class="about-div2">
    </div>
    </div>
</section>
