<section class="work-container">
    <div class="work-div">
      <img src="images/mtn1.jpeg">
      <a ui-sref='index'> <i class="fa fa-angle-left" style="font-size:60px"></i> </a>
        <h1 id="about-header"> Work</h1>
        <p id="about-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula metus eu sem elementum,
          vitae placerat metus dapibus.
        </p>
        <div id="about-header" style="height: 200px; margin-bottom: 20px;">
        <div class="web1"style="background: url(images/web4.gif); height:200px; width: 45%; margin-right: 5px; display: inline-block;"></div>
      <div style="background:url(images/web5.png); height:200px; width: 45%; margin-right: 5px; display: inline-block;"></div>
    </div>
        <span style="margin:20px"><img src="images/logo-svg/Angular-400H.svg"/>
              <img src="images/logo-svg/CSS3-400H.svg"/>
              <img src="images/logo-svg/Git-400H.svg"/>
              <img src="images/logo-svg/Gulp-400H.svg"/>
              <img src="images/logo-svg/HTML5-400H.svg"/>
              <img src="images/logo-svg/JQuery-400H.svg"/>
              <img src="images/logo-svg/JS-400H.svg"/>
   </span>
      <div class="about-div2">
    </div>
    </div>
</section>
